.emoji {
  display: inline-block;
  position: relative;
  transform-origin: 70% 70%;
}

.waving {
  animation: waving-hand 2.5s ease;
}

@keyframes waving-hand {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.image-layer {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}
