@import 'https://fonts.google apis.com/css2?family=Gloria+Hallelujah&display=swap';
@import "tailwindcss";

@font-face {
  font-family: Gruppe;
  src: url("./assets/fonts/GruppeA.ttf");
}

@theme {
  --font-gruppe: Gruppe, "sans-serif";
  --font-gloria: Gloria Hallelujah, cursive;
}

/* Set box-sizing for the root element */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: #EAEAEA;
}