@import "tailwindcss";
@font-face {
  font-family: Gruppe;
  src: url("./assets/fonts/GruppeA.ttf");
}

@theme {
  --font-gruppe: Gruppe, "sans-serif";
}

/* Set box-sizing for the root element */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  
}
